/* Vision & Mission Section */
.accordion-item {
    background-color: var(--midnightGreen);
    color: white;
}

.accordion-button {
    color: var(--darkMidnightBlue);
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: var(--marigold);
}
