.learn-button-marigold {
    color: white;
    border-radius: 25px;
    background-color: black;
}

.learn-button-marigold:hover {
    color: white;
    border-radius: 25px;
    background-color: var(--marigold);
}

.learn-button-mg {
    color: var(--darkMidnightBlue);
    border-radius: 25px;
    border: 3px solid var(--darkMidnightBlue);
}

.learn-button-mg:hover {
    color: white;
    border-radius: 25px;
    border: 3px solid white;
    background-color: var(--midnightGreen);
}

.link-sub-tab {
    color: var(--darkMidnightBlue) !important;
    font-weight: bold !important;
    background-color: white !important;
    border-radius: 0 !important;
}

.link-sub-tab:hover {
    color: var(--darkMidnightBlue) !important;
    font-weight: bold !important;
    background-color: var(--periglacialBlue) !important;
    border-radius: 0 !important;
}

.link-sub-tab.active {
    color: var(--darkMidnightBlue) !important;
    font-weight: bold !important;
    background-color: var(--periglacialBlue) !important;
    border-radius: 0 !important;
}
