/* Hero Section */
.hero-button {
    color: white;
    background-color: var(--marigold) !important;
    border-radius: 25px;
}

.hero-button:hover {
    color: white;
    background-color: var(--pictonBlue) !important;
    border-radius: 25px;
}

.hero-screen-button {
    color: white;
    border-radius: 25px;
    border: 3px solid white;
}

.hero-screen-button:hover {
    color: white;
    border-radius: 25px;
    border: 3px solid white;
    background-color: var(--marigold);
}

.hero-develop-button {
    color: white;
    border-radius: 25px;
    border: 3px solid white;
}

.hero-develop-button:hover {
    color: white;
    border-radius: 25px;
    border: 3px solid white;
    background-color: var(--darkMidnightBlue);
}

/* Solution Section */
.solution-button {
    color: var(--darkMidnightBlue);
    border-radius: 25px;
    border: 3px solid var(--darkMidnightBlue);
}

.solution-button:hover {
    color: white;
    border-radius: 25px;
    border: 3px solid white;
    background-color: var(--darkMidnightBlue);
}
