:root {
    --carrotOrange: #de9228;
    --japaneseIndigo: #1c3843;
    --marigold: #ee9b26;
    --pictonBlue: #3db2ed;
    --darkMidnightBlue: #12375f;
    --midnightGreen: #12475f;
    --seaGreen: #3c8d5c;
    --antiFlashWhite: #f2f2f2;
    --brightGray: #eaf1ee;

    --blackSqueeze: #e9f4f6;
    --linkWater: #d8e8f3;
    --givry: #f7e6c5;
    --periglacialBlue: #dce2d2;
    --dustStorm: #e9d6d5;
    --bg-image-url: url("{{ asset("images/homepageBg.webp") }}");
}

body {
    margin: 0;
    padding: 0;
}

.bg-ji {
    background-color: var(--japaneseIndigo);
}

.bg-dmb {
    background-color: var(--darkMidnightBlue);
}

.bg-marigold {
    background-color: var(--marigold);
}

.bg-mg {
    background-color: var(--midnightGreen);
}

.bg-afw {
    background-color: var(--antiFlashWhite);
}
.bg-bg {
    background-color: var(--brightGray);
}

.bg-bs {
    background-color: var(--blackSqueeze);
}

.bg-lw {
    background-color: var(--linkWater);
}

.bg-givry {
    background-color: var(--givry);
}

.bg-pb {
    background-color: var(--periglacialBlue);
}

.bg-ds {
    background-color: var(--dustStorm);
}

.bg-image {
    background: url("../images/homepage/homepageBg.webp") no-repeat center
        center;
    background-size: cover;
}

.text-co {
    color: var(--carrotOrange) !important;
}

.text-dmb {
    color: var(--darkMidnightBlue);
}

.text-marigold {
    color: var(--marigold);
}

.text-pb {
    color: var(--pictonBlue);
}

.text-mg {
    color: var(--midnightGreen);
}

.text-justify {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.image-navbar-logo {
    transition: transform 0.3s ease;
    height: 40px;
    width: 100px;
}

.image-navbar-logo:hover {
    transform: scale(0.9);
}

.image-footer-logo-1 {
    transition: transform 0.3s ease;
    height: 65px;
    width: 100px;
}

.image-footer-logo-1:hover {
    transform: scale(0.9);
}

.image-footer-logo-2 {
    transition: transform 0.3s ease;
    height: 80px;
    width: 100px;
}

.image-footer-logo-2:hover {
    transform: scale(0.9);
}

.image-hero {
    height: 300px;
    width: 300px;
}

.image-horizontal-display {
    height: 250px;
    width: 350px;
}

.image-brand {
    height: 200px;
    width: 350px;
}

.btn-orange-border {
    color: var(--marigold);
    border-radius: 25px;
    border: 3px solid var(--marigold);
}

.btn-orange-border:hover {
    color: white;
    border-radius: 25px;
    border: 3px solid var(--marigold);
    background-color: var(--marigold);
}

.btn-marigold-link {
    color: white !important;
    border-radius: 5px;
    background-color: var(--carrotOrange);
    transition: color 1s, border-radius 1s, background-color 1s;
}
.btn-marigold-link:hover {
    color: var(--carrotOrange) !important;
    border-radius: 5px;
    background-color: white;
}

.btn-marigold-transition {
    color: white;
    background-color: var(--marigold);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-marigold-transition:hover {
    color: white;
    transform: scale(0.95);
    background-color: var(-marigold);
}

.border-dmb {
    border: 3px solid var(--darkMidnightBlue) !important;
}

.border-radius-dmb {
    border: 3px solid var(--darkMidnightBlue) !important;
    border-radius: 25px;
}

.border-radius-co {
    border: 3px solid var(--carrotOrange) !important;
    border-radius: 25px;
}

.border-simple-left {
    border-radius: 25px 0 0 25px;
}

.border-simple-right {
    border-radius: 0 25px 25px 0;
}

.border-circle-mg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: var(--midnightGreen);
}

/* Links */
.link-hover {
    color: var(--marigold) !important;
    text-decoration: none;
    font-weight: bold;
}

.link-hover:hover {
    color: var(--pictonBlue) !important;
    font-weight: bold;
}

/* Navigation Section */
.navigation {
    color: black !important;
    background-color: transparent;
}

.navigation:hover {
    color: var(--marigold) !important;
}

.navigation.active {
    color: var(--marigold) !important;
}

.navigation-item {
    color: black !important;
    background-color: transparent;
    transition: color 1s, border-radius 1s, background-color 1s;
}

.navigation-item:hover {
    color: white !important;
    background-color: var(--marigold);
}

.navigation-item.active {
    color: white !important;
    background-color: var(--marigold);
}

.dropdown-divider {
    margin: 0;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
}

.nav-main-display:hover .nav-main-content {
    display: block;
}

.nav-main-display .nav-main-content {
    margin-top: -6px;
    border-radius: 0.25rem;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    border-radius: 0.25rem;
}

.dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.divider-start-25 {
    border-bottom: 3px solid var(--marigold) !important;
    width: 25%;
}

.divider-start-50 {
    border-bottom: 3px solid var(--marigold) !important;
    width: 50%;
}

.divider-center-25 {
    border-bottom: 3px solid var(--marigold) !important;
    width: 25%;
    margin: 0 auto;
}

.transition-up {
    transition: transform 0.3s ease-in-out;
}

.transition-up:hover {
    transform: translateY(-10px);
}

/* Header Section */
.login-1 {
    color: var(--marigold) !important;
    border-radius: 5px;
    background-color: transparent;
    transition: color 1s, border-radius 1s, background-color 1s;
}
.login-1:hover {
    color: white !important;
    border-radius: 5px;
    background-color: var(--marigold);
}
.login-2 {
    color: var(--pictonBlue) !important;
    border-radius: 5px;
    background-color: transparent;
    transition: color 1s, border-radius 1s, background-color 1s;
}
.login-2:hover {
    color: white !important;
    border-radius: 5px;
    background-color: var(--pictonBlue);
}
.login-3 {
    color: white !important;
    border-radius: 5px;
    background-color: transparent;
    transition: color 1s, border-radius 1s, background-color 1s;
}
.login-3:hover {
    color: var(--marigold) !important;
    border-radius: 5px;
    background-color: white;
}

/* Floating Section */
.floating-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border: none;
}

.floating-btn img {
    width: 24px;
    height: 24px;
}

.floating-btn-left {
    background-color: var(--darkMidnightBlue);
    bottom: 20px;
    left: 20px;
}

.floating-btn-right {
    background-color: var(--seaGreen);
    bottom: 20px;
    right: 20px;
}

/* Footer Section */
.link-category {
    color: var(--marigold) !important;
}

.link-item {
    color: white;
}

.link-item:hover {
    color: var(--marigold) !important;
}

.link-location {
    color: var(--marigold);
    text-align: start;
}

.link-location:hover {
    background-color: transparent;
    color: white;
}

.link-location.active {
    font-weight: bold !important;
    background-color: transparent !important;
    color: white !important;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}

.social-icon:hover {
    border-color: var(--marigold);
    color: var(--marigold);
}

.btn-floating {
    display: flex; /* Use flex to center the icon */
    align-items: center; /* Vertically center the icon */
    justify-content: center; /* Horizontally center the icon */
    width: 60px; /* Set the width of the button */
    height: 60px; /* Set the height of the button (same as width for a circle) */
    border-radius: 50%; /* Make it circular */
    font-size: 24px; /* Adjust icon size */
    text-decoration: none; /* Remove underline */
}

.social-button {
    width: 2.5rem; /* Responsive width */
    height: 2.5rem; /* Responsive height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
    text-decoration: none;
    font-size: 1.25rem; /* Responsive icon size */
    margin: 0.5rem; /* Margin for spacing between buttons */
}
.social-button:hover {
    background-color: #f0f0f0;
}

/* Swiper Section */
.swiper {
    width: auto;
    height: auto;
}

.table-fixed {
    table-layout: fixed;
    width: 100%;
}
.table-fixed td {
    text-align: center;
    padding: 8px;
    vertical-align: middle;
}
.table-fixed col {
    width: 33.33%;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 22px 22px 0 0;
    border-bottom: 3px solid var(--darkMidnightBlue);
}

.img-border-rounded-dmb {
    border-radius: 50%;
    border: 3px solid var(--darkMidnightBlue);
}

.modal-body {
    padding: 0;
}
.modal-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-dialog {
    max-width: 700px;
}

.speech-bubble {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--antiFlashWhite);
    border-radius: 10px;
    border: 1px solid #ddd;
}

.speech-bubble-tail {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--antiFlashWhite);
}
