.image-navbar-logo {
    transition: transform 0.3s ease;
    height: 50px;
    width: 150px;
}

.image-navbar-logo:hover {
    transform: scale(0.9);
}

.login-1 {
    color: var(--marigold) !important;
    border-radius: 5px;
    background-color: transparent;
    transition: color 1s, border-radius 1s, background-color 1s;
}
.login-1:hover {
    color: white !important;
    border-radius: 5px;
    background-color: var(--marigold);
}
.login-2 {
    color: var(--pictonBlue) !important;
    border-radius: 5px;
    background-color: transparent;
    transition: color 1s, border-radius 1s, background-color 1s;
}
.login-2:hover {
    color: white !important;
    border-radius: 5px;
    background-color: var(--pictonBlue);
}
.login-3 {
    color: white !important;
    border-radius: 5px;
    background-color: transparent;
    transition: color 1s, border-radius 1s, background-color 1s;
}
.login-3:hover {
    color: var(--marigold) !important;
    border-radius: 5px;
    background-color: white;
}

.navigation {
    color: black !important;
    background-color: transparent;
}

.navigation:hover {
    color: var(--marigold) !important;
}

.navigation.active {
    color: var(--marigold) !important;
}

.navigation-item {
    color: black !important;
    background-color: transparent;
    transition: color 1s, border-radius 1s, background-color 1s;
}

.navigation-item:hover {
    color: white !important;
    background-color: var(--marigold);
}

.navigation-item.active {
    color: white !important;
    background-color: var(--marigold);
}

.dropdown-divider {
    margin: 0;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
}

.nav-main-display:hover .nav-main-content {
    display: block;
}

.nav-main-display .nav-main-content {
    margin-top: -6px;
    border-radius: 0.25rem;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    border-radius: 0.25rem;
}

.dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
