:root {
    --carrotOrange: #de9228;
    --japaneseIndigo: #1c3843;
    --marigold: #ee9b26;
    --pictonBlue: #3db2ed;
}

.bg-ji {
    background-color: var(--japaneseIndigo);
}

.text-marigold {
    color: var(--marigold);
}

.image-navbar-logo {
    transition: transform 0.3s ease;
    height: 40px;
    width: 100px;
}

.image-navbar-logo:hover {
    transform: scale(0.9);
}
