:root {
    --carrotOrange: #de9228;
    --japaneseIndigo: #1c3843;
    --marigold: #ee9b26;
    --pictonBlue: #3db2ed;
}

.bg-ji {
    background-color: var(--japaneseIndigo);
}

.text-marigold {
    color: var(--marigold);
}